{{loading-slider isLoading=loading duration=250}}
<h2 id="title">Booking Records:</h2>
<div><a>{{#link-to 'index'}} Home {{/link-to}}</a></div>
<div><a>{{#link-to 'bookings'}}Bookings{{/link-to}}</a></div>
<div><a>{{#link-to 'bookings.new'}}New Order{{/link-to}}</a></div>
{{outlet}}
