 <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">{{#link-to 'index'}}Khalifa Carriers{{/link-to}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a >{{#link-to 'index'}} Home {{/link-to}}</a></li>
        <li><a >{{#link-to 'bookings'}}Bookings{{/link-to}}</a></li>
        <li><a >{{#link-to 'bookings.new'}}New Order{{/link-to}}</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
  {{outlet}}
  </div>